#map-page { width: 100%; height: 100%; padding: 0; } 
#map-canvas { width: 100%; height: 50%; padding: 0; }

.ui-icon-oet-bus2 {
	background-image: url("/img/bus2.png");
	background-size: 100%;
}

.ui-icon-oet-busstop {
	background-image: url("/img/busstop.png");
}

